{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
<div class="container mx-auto p-8 text-center">
    <h1>403</h1>
    <h2 >Accès interdit</h2>
    <p >Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    <a href="{{ path('app_home') }}" >Retour à l'accueil</a>
</div>
{% endblock %}
